
/* Define color variables based on the logo in CSS syntax */
:root {
  --primary-color: #004f7c; /* Example dark blue color */
  --secondary-color: #00aeef; /* Example light blue color */
  --accent-color: #ffc72c; /* Example yellow color */
}

/* General body styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* Navbar styling */
.navbar {
  background-color: var(--secondary-color);
}

.navbar .navbar-brand img {
  display: inline-block;
}

.navbar .navbar-brand:hover {
  color: var(--accent-color);
}

.navbar .nav-link {
  color: var(--primary-color);
}

.navbar .nav-link:hover {
  color: var(--accent-color);
}

/* Additional styles can be added here */

.card-header {
  background-color: #004f7c;
  color: white;
}

.card-body {
  background-color: #004f7c;
  color: white;
}